:root {
    --White: hsl(0, 0%, 100%);

    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);

    --Brown800: hsl(14, 45%, 36%);

    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);

}

body {
    background-color: var(--White);
}

h1, h2 {
    font-family: YongSerif;
}

h2 {
    color: var(--Brown800);
}

h3 {
    color: var(--Rose800);
}

p, li, tr {
    font-family: outfit;
    color: var(--Stone600);
}

ul li::marker {
    color: var(--Rose800);
    font-size: 10px;
}

ol li::marker {
    color: var(--Rose800);
}

ul li {
    padding-left: 10px;
}

@font-face {
    font-family: YongSerif;
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);

    font-family: outfit;
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 0;
}

.h2left {
    justify-content: start;
    padding-left: 35px; 
}

@media(max-width: 375px) {
    #main-image {
        width: 100%;
        padding-bottom: 5px;
      }
      
    #main-title {
    color: var(--Stone900);
    font-size: 40px;
    text-align: start;
    width: 87%;
    }

    #main-description {
        text-align: start;
        width: 87%;
    }

    #preparation-time-title-container {
        display: flex;
        justify-content: start;
        padding-left: 30px;
    }

    #preparation-time-container {
        text-align: start;
        width: 90%;
        padding-top: 20px;
        background-color: var(--Rose50);
        margin-left: 12px;
        border-radius: 15px;
    }

    #preparation-time li{
        margin-bottom: 15px;
    }

    #igredients-container {
        text-align: start;
        width: 90%;
        padding-top: 5px;
        margin-left: 57px;
        border-radius: 15px;
    }

    #instruction-title {
        padding-bottom: 15px;
    }

    #instruction-container {
        padding-top: 15px;
        max-width: 100%;
    }
    
    #instructions {
        max-width: 85%;
        padding: 0 15px;
        box-sizing: border-box;
    }
    
    #instructions li {
        margin-bottom: 15px; 
    }

    #nutrition-title-container {
        width:90%;
        padding-top: 5px;
        margin-left: 37px;
    }

    #nutrition-describe-container {
        max-width: 90%;
    }

    #nutrition-describe {
        padding-left: 37px;
        padding-top: 15px;
    }

    .table-color {
        color: var(--Brown800);
        font-weight: bold;
    }

    #nutritional-table {
        padding-left: 25px;
        padding-top: 15px;
        width: 80%;
    }

    .space {
        padding-bottom: 20px;
    }
}

@media(min-width: 376px) {

}